<div class="main">
  <div class="card">
    <h1>{{ componentTitle }}</h1>
  </div>
  <form (ngSubmit)="addItem(newItem.value)" #f="ngForm" ngNativeValidate class="input-group">
    <label for="userInput">Add Task</label>
    <input
      #newItem
      placeholder="add a task"
      (keyup.enter)="addItem(newItem.value); newItem.value = ''"
      class="lg-text-input"
      id="addItemInput" required />
    <button type="submit"class="btn-primary">Add</button>
  </form>

  <h2>
    {{allTaks.length}}
    <span *ngIf="allTaks.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <ul>
    <li *ngFor="let i of allTaks">
      <app-item (remove)="remove(i)" (updateTask)="updateTask(i)" [task]="i"></app-item>
    </li>
  </ul>
</div>
